<launch>
    <node pkg= "adir"   type= "curvature_calc"      name= "curvature_calc"/>
    <node pkg= "adir"   type= "env_class"           name= "env_class"           output= "screen"/>
    <node pkg= "adir"   type= "roundabout_planner"  name= "roundabout_planner"  output= "screen"/>
    <node pkg= "adir"   type= "car_controller"      name= "car_controller"      output= "screen"/>

    <param name= "loop_rate"    type= "int"         value="50"/>
    <param name= "lookahead"    type= "double"      value="0.2"/>
</launch>